/* Resetování stylů */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Globální styly */
body {
  font-family: 'Overpass Mono', monospace !important;
    background-color: #1E1E1E !important;
  color: #ABB2BF !important;
}

/* Původní styly pro body a ostatní globální styly */

/* Kontejner pro efekt glassmorphismu */
.background-effects {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Posunutí pod obsah stránky */
  background-color: rgba(40, 44, 52, 0.4); /* Barva s průhledností pro efekt */
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Vytvoření trojúhelníků pro svítící vzory s větším rozmazáním a "glow" efektem */
.background-effects::before {
  content: "";
  position: absolute;
  width: 200px; /* Velikost kolečka */
  height: 200px; /* Velikost kolečka */
  border-radius: 50%; /* Kruhový tvar */
  opacity: 0.6; /* Průhlednost svítících koleček */
  filter: blur(80px); /* Větší rozmazání */
  box-shadow: 0 0 20px 10px #E06C75; /* "Glow" efekt */
}

.background-effects::before {
  top: 50%; /* Umístění kolečka uprostřed vertikálně */
  left: 80%; /* Umístění kolečka uprostřed horizontálně */
  transform: translate(-50%, -50%); /* Posunutí kolečka zpět o polovinu jeho vlastní velikosti */
  background: #E06C75; /* Barva kolečka */
}


.light {
  position: absolute;
  border-radius: 50%;
  z-index: -1;
}

.light-1 {
  top: 300px;
  right: 20vw;
  width: 400px;
  height: 400px;
  background-color: #E06C75;
  filter: blur(200px) opacity(0.5);
  animation: flashing-1 10s infinite;
}

.light-2 {
  top: 1200px;
  right: 40vw;
  width: 400px;
  height: 400px;
  background-color: #C678DD;
  filter: blur(200px) opacity(0.5);
  animation: flashing-1 10s infinite;
}

.light-3 {
  top: 2100px;
  right: 20vw;
  width: 400px;
  height: 400px;
  background-color: #61AFEF;
  filter: blur(200px) opacity(0.5);
  animation: flashing-1 10s infinite;
}


/* Ostatní styly pro obsah stránky */
.content {
  position: relative;
  z-index: 1; /* Posunutí nad kontejner s efektem */
  /* Další styly podle potřeby */
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px !important;
}

.logo {
  font-weight: bold;
  color: #E06C75;
  font-family: 'Montserrat', sans-serif;
}

.logo-text {
  font-size: 1.7em;
}

.links a {
  margin-left: 40px;
  text-decoration: none;
  color: #ABB2BF;
  font-size: 1.3em;
}

.links a:hover {
  color: #E06C75 !important;
  cursor: pointer;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 0;
}

.hero-content {
  flex: 1;
}

.hero-title {
  font-size: 4.5em !important;
  font-weight: bold !important;
  margin-top: 40%;
  color: #E06C75;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
}

.hero-description {
  font-size: 1.8em !important;
  text-align: left;
  margin-bottom: 50%;
  line-height: normal;
}

.highlighted {
  color: #FFFFFF;
}

.highlighted_yellow {
  color: #E5C07B;
}

.highlighted_green {
  color: #98C379;
}

.highlighted_purple {
  color: #C678DD;
}

.highlighted_blue {
  color: #61AFEF;
}

.hero-image {
  flex: 1;
  border-radius: 53px;
  /* image import */
}

.aboutme-title {
  color: #E06C75;
  font-weight: bold;
  font-size: 3.4em;
}

.aboutme-description {
  width: 800px;
  height: 271px;
  flex-shrink: 0;
  color: #ABB2BF;
  font-size: 1.4em;
  line-height: normal;
}

.skills-title {
  color: #E06C75;
  font-weight: bold;
  font-size: 3.4em;
}

.skills-description {
  height: 271px;
  font-size: 1.4em;
  line-height: normal;
}

.skill-bar {
  margin-top: 20px;
}

.skills {
  height: 471px;
}

.skill {
  margin-bottom: 10px;
  text-align: left;
}

.skill-name {
  display: inline-block;
  width: 80px;
  color: #ABB2BF;
  font-size: 1.4rem;
}

.skill-percent {
  width: 80px;
  color: #ABB2BF;
  font-size: 1.4rem;
  text-align: right; /* Změněno z text-align: left na text-align: right */
}

.skill-progress {
  width: 700px;
  background-color: #1E1E1E; /* Šedá barva pro neaktivní část */
  position: relative;
  border-radius: 0.375rem;
}


.progress {
  height: 4px !important;
  width: 0;
  background-image: linear-gradient(225deg, #32C5FF 0%, #B620E0 51%, #F7B500 100%);
  background-size: 200% 100%;
  animation: animGradient 2s linear infinite, fillProgress 2s ease-in-out forwards;
}

@keyframes animGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes fillProgress {
  0% {
    width: 0;
  }
  100% {
    /* Set individual width based on the inline style provided by JSX */
    width: var(--skill-width, 0);
  }
}


/* Styly pro sekci feedback */
.feedback {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

/* Styly pro titulek reference */
.feedback-title {
  color: #E06C75;
  font-weight: bold;
  font-size: 3.4em;
  margin-right: 20px; /* Vzdálenost mezi titulkem a obsahem */
}

/* Styly pro prvni feedback */
.first-feedback {
  display: flex;
  align-items: center;
}
/* Styly pro sekci feedback */
.feedback {
  display: flex;
  flex-direction: column; /* Uspořádání ve sloupci pro nadpis a obsah */
  align-items: flex-start; /* Zarovnání obsahu vlevo */
  margin-bottom: 20px;
  text-align: left; /* Zarovnání textu vlevo */
}

/* Styly pro titulek reference */
.feedback-title {
  color: #E06C75;
  font-weight: bold;
  font-size: 3.4em;
  margin-bottom: 20px; /* Odstup mezi nadpisem a obsahem */
}

/* Styly pro prvni feedback */
.first-feedback {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

/* Styly pro obrázek */
.feedback-img {
  width: 120px;
  height: 120px;
  flex-shrink: 0;
  border-radius: 23px;
  background-image: url("https://s3-alpha-sig.figma.com/img/9417/e8c1/b2b85f386df9998239f662884e2506c8?Expires=1702857600&Signature=WL6Ma0g0l4uSMS7qUlVxXJCVWeuiQhFgqzYeiIFm~bzML5bZyY6GjZL2XUBhOe8B6-BI2bJae-qr5OzVFgs4tr1V7VQVvaVPyfgcLRDe4jHJV1-awYixf08knLo49WvZd72K8i9~l7C428humcLflRM5aY9JfTdwkQQPvSrDJy1tNYct6G-MiMpqvihucU~XPvjoYZQ2n21~ggS-8QUi0AW8CfVYYABxJmcOY7-3tDaXYeyGTGd4GoxEYKTCRBxoBE-0obetFpltPULmgL2DvflPmfAhuuR4qK73fwao2gAZ3-XaFovKdb1nQUNT6JvOm~erU1npuCWRhd8NrI6PEA__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
  background-color: lightgray;
  background-size: cover;
  background-position: center center;
  margin-right: 20px; /* Vzdálenost mezi obrázkem a textem */
  align-self: flex-start; /* Zarovnání obrázku k hornímu okraji */
}

/* Styly pro popisek */
.feedback-description {
  width: 800px;
  font-size: 1.4em;
  line-height: normal;
  text-align: left; /* Zarovnání textu vlevo */
}

/* Styly pro nadpis a odstavec uvnitř popisku */
.feedback-description h3 {
  margin-top: 0;
  font-size: 1.3em;
  font-weight: bold;
  color: #E06C75;
}


  .gradient-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(225deg, #32C5FF 0%, #B620E0 51%, #F7B500 100%);
    background-size: 200% 100%;
    -webkit-animation: animateGradient 2s linear infinite;
    -moz-animation: animateGradient 2s linear infinite;
    -o-animation: animateGradient 2s linear infinite;
    animation: animateGradient 2s linear infinite;
  }

  @keyframes animateGradient {
    0% {
      background-position: 0% 50%
    }

    50% {
      background-position: 100% 50%
    }

    100% {
      background-position: 0% 50%
    }
  }

